@use 'base/_reset';
@use 'base/_typo';
@use 'utilities/_variables';
@use 'base/_base';
@import 'utilities/_mixins';
@import '../css/bootstrap-grid.min.css';
@import 'components/_slider.component';
@import 'components/_side-navbar.component';
@import 'components/_accordion.component';
@import 'components/_input.component';
@import 'components/_sliderhome.component';

$menu-mobile: 900px;

body {
  font-family: var(--font-roboto);
  background-color: var(--color-fondo);
  color: var(--color);
  line-height: 1.8;
}


html,
body {
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

main {
  background: var(--color-fondo);
}



header {
  height: var(--height-header);
  background: var(--header-bg);
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  border-bottom: 1px solid var(--colorPrimary);

  @media(max-width:767px) {
    grid-template-columns: 40% 60%;
  }
}

nav.nav-not-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      margin-left: 2rem;

      a {
        text-decoration: none;
        color: var(--color-nav-header);
        font-weight: 700;
        font-size: 1.2rem;

        &:link {
          color: var(--color-nav-header);
        }

        &:hover {
          color: var(--color-nav-header-hover);
          border-bottom: 2px solid var(--color-nav-header-hover);
        }
      }
    }
  }

  @media(max-width:$menu-mobile) {
    display: none;
  }
}

.menu-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;

  svg {
    width: 2rem;
    height: 2rem;
    stroke: var(--color-nav-header);
  }

  @media(min-width:$menu-mobile) {
    display: none;
  }

  .menu {
    height: var(--size-menu);
    width: var(--size-menu);
    background: #f0f2f52e;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:active {
      transform: scale(.9);
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

  }
}

.logo-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;

  @media(max-width:768px) {
    padding-left: 0;
  }
}

.bg-dark {
  background-color: rgb(40, 40, 40);
}

.section-intro-slider-1 {
  background-image: url(/img/slider-1.webp);

  @media(max-width:896px) {
    background-image: url(/img/sliderHomeMobile1.webp);
  }

  background-size: cover;
}

.section-intro-slider-2 {
  background-image: url(/img/sliderhome-2.webp);
  @media(max-width:576px){
    background-image: url(/img/sliderhome-mobile-2.webp);
  }
  background-size: cover;
}

.section-intro-slider-3 {
  background:black
}

.section-secundary {
  position: relative;
  height: 100%;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 384px;
    background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
    background: var(--colorPrimary) 0% 0% no-repeat padding-box;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media(max-width:576px) {
      width: 3px;
    }

  }
}


.header-dark {
  @include headerdark(true);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(30px);
  border: none;
}

.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-45) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0-55);
  text-align: left;
  font: normal normal 600 39px/45px Poppins;
  letter-spacing: 0.55px;
  opacity: 1;
}

.subtitle {
  color: var(--unnamed-color-e0752f);

}

.text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-343434);
  text-align: left;
  font: normal normal normal 16px/28px Roboto;
  letter-spacing: 0.22px;
  color: var(--color);
}

.btn__primary {
  width: 144px;
  height: 48px;
  background: var(--colorPrimary) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    background: var(--colorPrimary-dark) 0% 0% no-repeat padding-box;
  }

  &:active {
    transform: scale(0.95);
  }

  @media(max-width:576px) {
    width: 130px;
    height: 37px;
  }
}

.title-welcome {
  font-size: clamp(2rem, 1.4323915237134208rem + 2.4217961654894045vw, 3.5rem);
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  letter-spacing: var(--unnamed-character-spacing-0-67);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  letter-spacing: 0.67px;
}

.description-welcome {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 16px/21px Roboto;
  letter-spacing: 0.22px;
  color: #FFFFFF;
}

#about,
#products,
#services,
#contact {
  scroll-margin-top: var(--height-header);
  position: relative;
}

.bg-products {
  display: grid;
  grid-template-columns: 60% 40%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  div:nth-child(1) {
    background-color: #f2f4f1;
  }

  div:nth-child(2) {
    background-color: #dce1da;
  }


}

.image-products {
  height: 100%;
  width: 100%;
  background-image: url(/img/section3-image-mobile.webp);
  background-size: cover;
  background-repeat: no-repeat;

  @media(min-width:600px) {
    background-image: url(/img/section3-image.webp);
  }
}

.grid-container-slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @media(max-width:600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.container-slider {
  grid-area: 2/2;

  @media(max-width:600px) {
    grid-area: 1/1;
  }

  background: var(--colorPrimary);
}

.description-slider-item {
  font-family: var(--unnamed-font-family-roboto);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  line-height: 1.4rem;
}

.title-slider-item {
  font-family: var(--unnamed-font-family-poppins);
  font-weight: var(--unnamed-font-weight-medium);
  font-style: var(--unnamed-font-style-normal);
  letter-spacing: var(--unnamed-character-spacing-0-55);
  color: var(--unnamed-color-ffffff);
  font-size: 2rem;
}

.p-section {
  padding: 6rem 0;
}

.min-h100 {
  min-height: 100vh;
}

.bg-services {
  display: grid;
  grid-template-columns: 30% 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  div:nth-child(1) {
    background-color: var(--card);
  }

  div:nth-child(2) {
    background-image: url(/img/section4-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(max-width:1024px) {
      background-position: center right;
    }
  }


}

.footer {
  background: var(--unnamed-color-343434) 0% 0% no-repeat padding-box;
  background: #343434 0% 0% no-repeat padding-box;

  p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-22);
    color: var(--unnamed-color-dce1da);
    text-align: left;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.error {
  color: red;
  transition: opacity .2s ease, max-height .25s ease;
  opacity: 0;
  max-height: 0;
  margin-bottom: 1.5rem;
}

.error.active {
  opacity: 1;
  max-height: 100px;
  margin-bottom: 0rem;
}

$sizeButton: 48px;

// botón fijo en la parte inferior de la pantalla
.button-fixed-bottom {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 2;
  height: $sizeButton;
  width: $sizeButton;
  border-radius: 100%;
  background-color: rgb(218, 218, 218);
  border: 2px solid var(--colorPrimary);
  color: var(--colorPrimary);
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
  transition: opacity .4s ease-in-out, transform .2s ease-in-out;
  opacity: 0;
  transform: scale(0.5);
}